<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Adopme</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
  <main class="container">
    <nav>
      <ul>
        <li><strong>Adopme</strong></li>
      </ul>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/users">Usuarios</a></li>
        <li><a href="/pets">Mascotas</a></li>
      </ul>
    </nav>
    {{{body}}}
  </main>
</body>
</html>