<h1>Escriba su nueva contrase침a 游띈</h1>
{{#if error }}
  <p>{{error}}</p>
{{/if}}
<form  id="form-login">
    <div class="col-md-5">
    <select id="email" name="email" class="form-select">
      <option value="{{payload.email}}">{{payload.email}}</option>
    </select>
    </div>
    <div class="col-md-5">
        <label for="exampleInputPassword" class="form-label">Contrase침a</label>
        <input type="password" name="password" id="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" required>
        <div id="passwordHelp" class="form-text">Mientas mas caracteres tenga la contrase침a sera m치s segura</div>
    </div>
    <div class="col-md-5">
        <label for="exampleInputPassword2" class="form-label">Confirmar contrase침a</label>
        <input type="password" name="password_confir" id="password_confir" class="form-control" id="exampleInputPassword2" aria-describedby="passwordHelp2" required>
        <div id="passwordHelp2" class="form-text">Porfavor confirme su nueva contrase침a</div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div>
            <button type="submit" class="d-inline p-2 btn btn-primary">Subir</button>
        </div>
    </div>
</form>
<script src="/static/js/new-password.js"></script>
