<form action="/api/sessions/register" method="post" enctype="multipart/form-data" class="row g-3 justify-content-around">
    <div class="col-md-5">
          <label for="exampleInputUser" class="form-label">Nombre</label>
          <input type="text" name="nombre" class="form-control" id="exampleInputName" aria-describedby="nameHelp" required>
          <div id="nameHelp" class="form-text">Porfavor ingrese su nombre</div>
    </div>
    <div class="col-md-5">
          <label for="exampleInputLastName" class="form-label">Apellido</label>
          <input type="text" name="apellido" class="form-control" id="exampleInputLastName" required>
    </div>
    <div class="col-md-5">
        <label for="autoSizingInputGroup" class="form-label">Gmail</label>
            <div class="input-group">
              <div class="input-group-text">@</div>
              <input type="email" name="email" class="form-control" id="autoSizingInputGroup" placeholder="Email" required>
            </div>
    </div>
    <div class="col-md-5">
          <label for="exampleInputAge" class="form-label">Edad</label>
          <input type="number" name="edad" class="form-control" id="exampleInputAge" aria-describedby="ageHelp" required>
        <div id="ageHelp" class="form-text">Recuerda que tienes que ser mayor de edad</div>
    </div>
    <div class="col-md-5">
        <label for="exampleInputDni" class="form-label">DNI</label>
        <input type="number" name="dni" class="form-control" id="exampleInputDni" required>
    </div>
    <div class="col-md-5">
        <label for="exampleInputPhone" class="form-label">Nro de celular</label>
        <input type="number" name="phone" class="form-control" id="exampleInputPhone" required>
    </div>
    <div class="col-md-5">
        <label for="exampleInputPassword" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" required>
        <div id="passwordHelp" class="form-text">Mientas mas caracteres tenga la contraseña sera más segura</div>
    </div>
    <div class="col-md-5">
        <label for="rol" class="form-label">Rol</label>
        <select id="rol" name="rol" class="form-select">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select> 
    </div>    
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" name="avatar" class="form-control" id="inputGroupFile01" required>
    </div>       
    <div class="col-12 d-flex justify-content-center">
        <div>
            <button type="submit" class="d-inline p-2 btn btn-primary">Subir</button>
        </div>
    </div>
</form>

<h3><a href="/static/index.html">Ya tengo mi cuenta</a></h3>