<article>
    <h1>Resetear Contraseña</h1>
    {{#if error }}
    <p>{{error}}</p>
    {{/if}}
    <form action="/api/sessions/reset" method="post">
        <input type="email" id="email" name="email" placeholder="Email">
        <!--<input type="password"  name="password" placeholder="Contraseña">-->      
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
    </form>
    <p>Ir a <a href="/static/index.html">Iniciar Sección</a></p>
</article>
<script src="/static/js/reset.js"></script>